<!DOCTYPE HTML>
{% load static %}

<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surround AI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href={%static "assets/css/main.css" %}>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
                    <a href="/" class="logo"><strong style="font-size: 30px;">Surround AI</strong></a>
				<nav id="nav">
						<a href="/">Home</a>
						<a href="/aiconcept">AI Concepts</a>
						<a href="/example">AI Examples</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Basic AI Concepts</h2>
						
					</header>
					
                    <h2>Machine Learning</h2>
					<p>First of all, machine learning is a core concept in artificial intelligence. All of us have to learn, and our human knowledge transfer is also carried out through such a method of learning. We learn the knowledge of our ancestors, and then create new knowledge by inference. We also hope that the machine has such ability: By learning the previous information, the machine is more like having intelligence and can react accordingly for new input in the future. This is called machine learning.</p>
                    
                    <h2>Deep Learning</h2>
                    <p>When we talk about artificial intelligence, we often hear concepts such as machine learning and deep learning. In fact, they are an inclusive relationship, and artificial intelligence includes machine learning and deep learning, and a specific form of learning in machine learning is called deep learning. It mainly based on algorithms of neural networks. At present, deep learning has made great progress in fields of image recognition, speech recognition, natural language processing, audio recognition, social network filtering, machine translation, medical image analysis, and board game programs.</p>
					
                     <button><a href="/theory">NEXT PAGE</a></button>
                </div>
			</section>

		
		<!-- Scripts -->
			<script src={%static "assets/js/jquery.min.js" %}></script>
			<script src={%static "assets/js/skel.min.js" %}></script>
			<script src={%static "assets/js/util.js" %}></script>
			<script src={%static "assets/js/main.js" %}></script>

	</body>
</html>