<!DOCTYPE HTML>
{% load static %}

<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surround AI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href={%static "assets/css/main.css" %}>
		<link rel="stylesheet" type="text/css" href={%static "assets/css/1.css" %}>
	</head>
	<body class="subpage">

		<!-- Header -->
		
			<header id="header">
				<div class="inner">
                    <a href="/" class="logo"><strong style="font-size: 20px;">Surround AI</strong></a>
				<nav id="nav">
						<a href="/">Home</a>
						<a href="/aiconcept">AI Concepts</a>
						<a href="/example">AI Examples</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
		
			<section id="three" class="wrapper">
				<div class="inner">
					<header style="text-align:center;">
						<h2>Lets Test What You have learnt</h2>
						
					</header>
					<article class="page">
  <article class="main">
    <h2 style="text-align:center;">Arrange AI Pipeline Steps in correct Order</h2>
    
    <article class="drop-effect cf">
      <div class="container">
        
        <div class="drag-zone cf">
          <div class="drag-item">
            <h4 class="clear"></h4>
            <img draggable="true" src={%static "images/2.jpg" %} class="drag" data-effect-allowed="copy" />
          </div>
          <div class="drag-item">
            <h4 class="clear"></h4>
            <img draggable="true" src={%static "images/1.jpg" %} class="drag" data-effect-allowed="link" />
          </div>
          <div class="drag-item">
            <h4 class="clear"></h4>
            <img draggable="true" src={%static "images/4.jpg" %} class="drag" data-effect-allowed="move" />
          </div>
		  <div class="drag-item">
            <h4 class="clear"></h4>
            <img draggable="true" src={%static "images/3.jpg" %} class="drag" data-effect-allowed="move" />
          </div>
          
        </div>
      </div>

      <div class="container">
        <div class="drop-zone cf">

          <div class="drop-item">
            <h4 class="clear">Step 1</h4>
            <div class="drop" data-drop-effect="link"></div>
          </div>
          <div class="drop-item">
            <h4 class="clear">Step 2</h4>         
            <div class="drop" data-drop-effect="copy"></div>
            
          </div>
          <div class="drop-item">
            <h4 class="clear">Step 3</h4>
            <div class="drop" data-drop-effect="move"></div>
          </div>
		  <div class="drop-item">
            <h4 class="clear">Step 4</h4>
            <div class="drop" data-drop-effect="move"></div>
          </div>
         
        </div>
        <div class="reset-button">Reset drag and drop</div>
      </div>
	  <br>
	  <button><a href="/example">NEXT PAGE</a></button>
     
      
    </article>
  </article>
</article>
					
						

                
			</section>

		
		<!-- Scripts -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script type="text/javascript" src={%static "assets/js/1.js" %}></script>
        			<script src={%static "assets/js/jquery.min.js" %}></script>
			<script src={%static "assets/js/skel.min.js" %}></script>
			<script src={%static "assets/js/util.js" %}></script>
			<script src={%static "assets/js/main.js" %}></script>

			<script>
				
			</script>

	</body>
</html>