<!DOCTYPE HTML>
{% load static %}

<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Surround AI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href={%static "assets/css/main.css" %}/>
		<link rel="stylesheet" href={%static "assets/css/button.css" %} />
		<link rel="stylesheet" href={%static "assets/css/pop.css" %}/>
		
	</head>
	
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
                    <a href="/" class="logo"><strong style="font-size: 30px;">Surround AI</strong></a>
				<nav id="nav">
						<a href="/">Home</a>
						<a href="/aiconcept">AI Concepts</a>
						<a href="/example">AI Examples</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>How Machine Learning Pipeline(ML) Works?</h2>
						<p>A pipeline consists of several stages. Each stage of a pipeline fed with the data processed from its preceding stage; i.e., the output of a processing unit supplied as an input to the next step.</p>
					</header>
                    <h2>Learning</h2>
					<p>A learning algorithm is a method used to process understandable data to extract patterns appropriate for application in a new situation. In particular, the aim is to utilize a system to a specific input-output transformation task. For this, choose the best-performing model from a set of models produced by different hyperparameter settings, metrics, and cross-validation techniques.</p>
                    
                    <h2>Prediction </h2>
                    <p>The performance of the model to determine the outcomes on the test data set not used for any training or cross-validation activities.</p>
					
					<h2>Pre-processing</h2>
                    <p>Data preprocessing is a Data Mining technique that involves transferring raw data into an understandable format. Real-world data is usually incomplete, inconsistent, and lacks certain behaviors or trends, and most likely to contain many inaccuracies. The process of getting usable data for a Machine Learning algorithm follows steps such as Feature Extraction and Scaling, Feature Selection, Dimensionality reduction, and sampling. The product of Data Pre-processing is final dataset used for training of the model as well as testing purpose.</p>
                     
					<h2>Evaluation</h2>
                    <p> To estimate the performance of the Machine Learning model, fit a model to the training data and predict the labels of the test set. Further, count the number of wrong predictions on the test dataset to compute the model’s prediction accuracy.</p>
					 
			  
			
<div  class="box bg-1">
	<a  href="#popup1" class="button button--moema button--text-thick button--text-upper button--size-s">Let's Play</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Select the DataSets</h2>
		<a class="close" href="#">&times;</a>
		
		<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">DATASET 1</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-normal" name="demo-priority">
												<label for="demo-priority-normal">DATASET2</label>
											</div>
											<div class="4u$ 12u$(small)">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">DATASET3</label>
											</div>
						<br>
			
			<button><a href="/aipipleine">Next page</a></button>
		</div>
	</div>
</div>
					 
				
					 
                </div>
			</section>

		
		<!-- Scripts -->
<script src={%static "assets/js/jquery.min.js" %}></script>
			<script src={%static "assets/js/skel.min.js" %}></script>
			<script src={%static "assets/js/util.js" %}></script>
			<script src={%static "assets/js/main.js" %}></script>

	</body>
</html>